*{
 font-family: 'Roboto';
}

#navbar img {
    width: 100px;
    height: 100px;
}
#navbar{
    background-color: black;
}

#navbar a{
    color: blanchedalmond;
}
body{
    background-color: rgb(0, 0, 0);
}
